.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.mt-header{
  margin-top: -0.5rem !important;
  margin-bottom: -1.5rem !important;
}

.mt-a{
  margin-top: -1.5rem !important;
}

.ml-a{
  margin-left: -1.3rem !important;
}

.mb-a{
  margin-bottom: -0.6rem !important;   
}

.mt-b{
  margin-top: -0.01rem !important;
}

.mt-headcon{
  margin-bottom: -1rem !important;
}

.w-a{
  width: 1% !important;
  padding: 7px 7px 7px 23px !important;

}

.r-a{
  right: 16px;
}

.mt-c{
  margin-top: -0.02rem !important;
}

.fs-a{
  font-size: 40px;
}

.mt-d{
  margin-top: -1rem !important;
}

.w-b{
  width: 400px;S
}

/**  .card-header-rose:not(.card-header-icon):not(.card-header-text){
      background: -webkit-linear-gradient(330deg, #f1d032, #ff9800) !important;
      background: -o-linear-gradient(330deg, #f1d032, #ff9800) !important;
      background: linear-gradient(60deg, #f1d032, #ff9800) !important;
    }

    .btn.btn-rose.btn-link{
      color: #fe9e06 !important;
    }

    .form-control, .is-focused .form-control {
      background-image: -webkit-linear-gradient(bottom, #fd9f07 2px, rgba(156, 39, 176, 0) 2px), -webkit-linear-gradient(bottom, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
      background-image: -o-linear-gradient(bottom, #fd9f07 2px, rgba(156, 39, 176, 0) 2px), -o-linear-gradient(bottom, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
      background-image: linear-gradient(to top, #fd9f07 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
      }
      **/